@model Expense

<h3>@Model.ExpenseName Details</h3>

<table class="table">
    <tr>
        <th> ID</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Date</th>
   
    </tr>
    <tr>
        <td>@Model.ExpenseID</td>
        <td>@Model.ExpenseName</td>
        <td>@Model.Amount</td>
        <td>@Model.Date</td>
    
    </tr>
</table>

<div style="display: block">
    <a href="/Expense/UpdateExpense/@Model.ExpenseID">Update this Expense</a>
</div>