@model IEnumerable<Expense>

<h2 class="text-center">Expenses</h2>
@* 
<div style="display: block">
    <a class="button" href="/Expense/AddExpense/">Add a New Expense</a>
</div>
 *@

@using (Html.BeginForm("SearchExpenses", "Expense", FormMethod.Get))
{
    <p> Find by name: @Html.TextBox("searchString")</p>
    <input type="submit" value="Search" />
}


<table class="table">
    <tr>
        <th>Expense ID</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Category</th>


    </tr>

    @foreach (var expense in @Model)
    {
        <tr>
            <td><a href=/Expense/GetExpense/@expense.ExpenseID>@expense.ExpenseID</a></td>
            <td>@expense.ExpenseName</td>
            <td>@expense.Amount</td>
            <td>@expense.Date.ToString("MM/dd/yyyy")</td>
            <td>@expense.CategoryName</td>

        </tr>
    }

</table>
<div>

    <a class="button" href="/Expense/Index">Back</a>

</div>
@* 
<div class="dropdown">
    <button class="dropbtn">Sort by Category</button>
    <div class="dropdown-content">
        <a href="/Expense/SortExpenses/1">Food</a>
        <a href="/Expense/SortExpenses/2">Housing</a>
        <a href="/Expense/SortExpenses/3">Utilities</a>
        <a href="/Expense/SortExpenses/4">Entertainment</a>
        <a href="/Expense/SortExpenses/5">Other</a>
    </div>
</div> *@


