@model Expense

<h2 class ="text-center">Update @Model.ExpenseName</h2>

@using (Html.BeginForm("UpdateExpenseToDatabase", "Expense", "Post"))
{
    <input asp-for="ExpenseID" type="hidden" value="@Model.ExpenseID" />

    <label asp-for="ExpenseName" class="control-label">Expense Name</label>
    <input type="text" name="ExpenseName" class="form-control" value="@Model.ExpenseName" />

    <label asp-for="Amount" class="control-label">Amount</label>
    <input type="number" step="0.01" name="Amount" class="form-control" value="@Model.Amount" />

    <label asp-for="Date" class="control-label">Expense Date</label>
    <input type="text" name="Date" class="form-control" value="@Model.Date" />


    <button class="button" role="button" type="submit">Update Expense</button>
}

<div>

    <a class="button" href="/Expense/Index">Back</a>

</div>

